{% extends 'components/Root.html'%}{%load static%}
{%block content%}
<div class="breadcrumb" style="background: url('{%static 'images/patterns/pattern10.jpg'%}')">
    <div class="container">
        <h2>K-Course</h2>
        <h3>Every people need different treatment, so we create a lot of that</h3>
    </div>
</div>
<div class="container">
    <section id="secondary" class="secondary-sidebar secondary-has-left-sidebar"> <!-- **Secondary Starts Here** -->
        <aside class="widget widget-client">
            <h5 class="widgettitle">Subject</h5>
            <div class="recent-client-widget">
                <ul>
                    <li><a href="#">{{data.program}}</a></li>
                </ul>
            </div>
        </aside>
        <aside class="widget widget-skill">
            <h5 class="widgettitle">Skills Achieved</h5>
            <div class="recent-skill-widget">
                <ul>
                    
                    {%for item in data.skills%}
                    <li>{{item}}</li>
                    {%endfor%}

                </ul>
            </div>
        </aside>
        <aside class="widget widget-project">
            <h5 class="widgettitle">Held On</h5>
            <div class="recent-project-widget">
                <ul>
                    <li>Date - <span>{{data.date}}</span></li>
                </ul>
            </div>
        </aside>                
    </section> <!-- **Secondary Ends Here** -->
    <section id="primary" class="page-with-sidebar page-with-left-sidebar"> <!-- **Primary Starts Here** -->
        <article class="portfolio-entry"> <!-- **Portfolio-Entry Starts Here** -->
            <div class="portfolio-thumb">
                <a href="#"><img src="{{data.icon}}" alt=""></a>
            </div>
            <div class="dt-sc-hr-invisible-very-small"></div>
            <div class="portfolio-detail">
                <p>
                    {{data.detail}}
                </p>
                <div class="dt-sc-hr-invisible-very-small"></div>
                <p><i>
                    {{data.testimoni}}
                </i></p> 
                <div class="dt-sc-hr-invisible-very-small"></div>
            </div>
        </article> <!-- **Portfolio-Entry Ends Here** -->
        <div class="post-nav-container"> <!-- **Post-Nav-container Starts Here** -->
            {%if status > 0%}
            <div class="post-prev-link">
                <a class="overline overline-right dt-sc-button" data-hover="Previous" href="{%url 'course' status|add:'-1'%}">Previous</a>
            </div>
            {%else%}
            {%endif%}
            <div class="post-next-link">
                <a class="overline overline-left dt-sc-button" data-hover="Next" href="{%url 'course' status|add:'1'%}">Next</a>
            </div>                
        </div> <!-- **Post-Nav-container Ends Here** -->
    </section> <!-- **Primary Ends Here** -->            
</div>

<div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
    <div class="container">
           <div class="main-title">
            <h3>How about us ?</h3>
            <h6>
                Feel free to watch how we train and what did they think about us
            </h6>
        </div>
    </div>
    <div id="dt-scroll-content"> <!-- **dt-scroll-content Starts Here** -->
        <ul class="dt-sc-portfolio-container portfolio-vertical">
            <li class="portfolio">
                <figure>
                    <video poster="https://pbs.twimg.com/profile_images/820591384155537413/ZuSg7rUg_400x400.jpg" alt="portfolio2" title="Sweet candy Packaging" controls>
                        
                    </video>
                    <figcaption>
                        <div class="fig-content">
                            <a href="https://www.youtube.com/watch?v=aC9IcXIkTRI" data-gal="prettyPhoto[gallery]"><span class="image-overlay-inside"></span></a>
                            <h5><a href="portfolio-detail.html">Sweet candy Packaging</a></h5>
                        </div>
                    </figcaption>
                </figure>
            </li> <!-- **portfolio Ends** -->
            <li class="portfolio">
                <figure>
                    <video poster="https://pbs.twimg.com/profile_images/820591384155537413/ZuSg7rUg_400x400.jpg" alt="portfolio2" title="Sweet candy Packaging" controls>
                        
                    </video>
                    <figcaption>
                        <div class="fig-content">
                            <a href="https://www.youtube.com/watch?v=aC9IcXIkTRI" data-gal="prettyPhoto[gallery]"><span class="image-overlay-inside"></span></a>
                            <h5><a href="portfolio-detail-with-left-sidebar.html">Sweet candy Packaging</a></h5>
                        </div>
                    </figcaption>
                </figure>
            </li> <!-- **portfolio Ends** -->
            <li class="portfolio">
                <figure>
                    <video poster="https://pbs.twimg.com/profile_images/820591384155537413/ZuSg7rUg_400x400.jpg" alt="portfolio2" title="Sweet candy Packaging" controls>
                        
                    </video>                    
                    <figcaption>
                        <div class="fig-content">
                            <a href="https://www.youtube.com/watch?v=aC9IcXIkTRI" data-gal="prettyPhoto[gallery]"><span class="image-overlay-inside"></span></a>
                            <h5><a href="#">Sweet candy Packaging</a></h5>
                        </div>
                    </figcaption>
                </figure>
            </li>
            <li class="portfolio">
                <figure>
                    
                    <video poster="https://pbs.twimg.com/profile_images/820591384155537413/ZuSg7rUg_400x400.jpg" alt="portfolio2" title="Sweet candy Packaging" controls>
                        
                    </video>
                    <figcaption>
                        <div class="fig-content">
                            <a href="https://www.youtube.com/watch?v=aC9IcXIkTRI" data-gal="prettyPhoto[gallery]"><span class="image-overlay-inside"></span></a>
                            <h5><a href="#">Sweet candy Packaging</a></h5>
                        </div>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div> <!-- **dt-scroll-content Ends Here** -->
</div> <!-- **Full-width-section Ends Here** -->
{%endblock content%}
{%block script%}
<script src="{% static 'js/custom.js'%}" type="text/javascript"></script>
{%endblock script%}