{% extends 'components/Root.html'%}{%load static%}
{%block content%}


<div class="breadcrumb" style="background: url('{%static 'images/patterns/pattern10.jpg'%}')">

    <div class="container">
        <h2>K-Software</h2>
        <h3>Lets make your dream apps become real</h3>
    </div>
</div>
<section id="primary" class="content-full-width">
    
    <div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
        <div class="container">
            <div class="intro-text"> <!-- **Intro-Text Starts Here** -->
                <div class="main-title">
                    <h2>OUR Skills</h2>
                </div>
                <div class="dt-sc-one-third column first">
                    <h5>Web Developer</h5>
                    <p>
                        We can build application based on web for your business or anything that you are working on. Builted with Express JS or Django which ensures have a good stability & great security.
                    </p>
                </div>
                <div class="dt-sc-one-third column">
                    <h5>Desktop Developer</h5>                        
                    <p>
                        We can build application based on Desktop for your business or anything that you are working on. Builted with Electron JS or Flutter which ensures have a good stability & great speed on processing data.
                    </p>
                </div>
                <div class="dt-sc-one-third column">
                    <h5>Mobile Developer</h5>                        
                    <p>
                        We can build application based on Mobile for your business or anything that you are working on. Builted with Flutter or React Native which ensures have a good UI & support for majority mobile device.
                    </p>
                </div>
            </div> <!-- **Intro-Text Ends Here** -->
            <div class="dt-sc-hr-invisible-very-small"></div>
            <div class="features"> <!-- **Team-section Starts Here** -->
                <div class="main-title">
                    <h3>Our team</h3>
                    <h6>Our team is your team, your mom is our mom</h6>                            
                </div>
                <div class="dt-sc-one-fourth column first">
                    <div class="dt-sc-team">
                        <figure class="dt-sc-entry-thumb">
                            <a href="#"><img src="{%static 'images/andri.jpg'%}" alt=""></a>
                            <figcaption>
                                <h4>Andri nova riswanto</h4>
                                <span>Back End</span>
                            </figcaption>
                        </figure>
                      <div class="dt-sc-team-cnt">
                          <p>Lest create everything secure and stable</p>
                      </div>
                      <ul class="dt-sc-social-icons">
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="facebook dt-sc-tooltip-bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="twitter dt-sc-tooltip-bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="google dt-sc-tooltip-bottom" title="Google-plus"><i class="fa fa-google-plus"></i></a>
                          </li>
                      </ul>                                
                    </div>
                </div>
                <div class="dt-sc-one-fourth column">
                    <div class="dt-sc-team">
                        <figure class="dt-sc-entry-thumb">
                            <a href="#"><img src="{%static 'images/reza.jpg'%}" alt=""></a>
                            <figcaption>
                                <h4>Reza Iqroonoor</h4>
                                <span>Front End</span>
                            </figcaption>
                        </figure>
                      <div class="dt-sc-team-cnt">
                          <p>I hate everything that blonde</p>
                      </div>
                      <ul class="dt-sc-social-icons">
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="facebook dt-sc-tooltip-bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="twitter dt-sc-tooltip-bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="google dt-sc-tooltip-bottom" title="Google-plus"><i class="fa fa-google-plus"></i></a>
                          </li>
                      </ul>                                
                    </div>
                </div>
                <div class="dt-sc-one-fourth column">
                    <div class="dt-sc-team">
                        <figure class="dt-sc-entry-thumb">
                            <a href="#"><img src="{%static 'images/salman.jpg'%}" alt=""></a>
                            <figcaption>
                                <h4>Salman</h4>
                                <span>3D Designer</span>
                            </figcaption>
                        </figure>
                      <div class="dt-sc-team-cnt">
                          <p>I sell a lot of itchy medicine</p>
                      </div>
                      <ul class="dt-sc-social-icons">
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="facebook dt-sc-tooltip-bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="twitter dt-sc-tooltip-bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="google dt-sc-tooltip-bottom" title="Google-plus"><i class="fa fa-google-plus"></i></a>
                          </li>
                      </ul>                                
                    </div>
                </div>
                <div class="dt-sc-one-fourth column">
                    <div class="dt-sc-team">
                        <figure class="dt-sc-entry-thumb">
                            <a href="#"><img src="{%static 'images/yaul.jpg'%}" alt=""></a>
                            <figcaption>
                                <h4>Yahya Auliya</h4>
                                <span>UI Designer</span>
                            </figcaption>
                        </figure>
                      <div class="dt-sc-team-cnt">
                          <p>Everything is about art & shinny</p>
                      </div>
                      <ul class="dt-sc-social-icons">
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="facebook dt-sc-tooltip-bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="twitter dt-sc-tooltip-bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="dt-sc-one-third column no-space">
                              <a href="#" class="google dt-sc-tooltip-bottom" title="Google-plus"><i class="fa fa-google-plus"></i></a>
                          </li>
                      </ul>                                
                    </div>
                </div>
            </div> <!-- **Team-section Ends Here** -->
            <div class="dt-sc-hr-invisible-small"></div>                                        
        </div>
    </div> <!-- **Full-width-section Ends Here** -->
    <div class="fullwidth-section"> <!-- **Full-width-section Starts Here** -->
        <div class="container">
            <div class="main-title">
                <h3>Our App Portfolio ?</h3>
                <h6> 
                    We guarantee your satisfaction. The result will be 100 % same with your scenario that give to us
                </h6>                            
            </div>
            <section id="secondary" class="secondary-sidebar secondary-has-left-sidebar"> <!-- **Secondary Starts Here** -->
            	<aside class="widget widget-client">
                	<h5 class="widgettitle">Clients</h5>
                    <div class="recent-client-widget">
                    	<ul>
                        	<li><a href="daf-q.id">Dompet Amal Fahim Quran</a></li>
                        </ul>
                    </div>
                </aside>
            	<aside class="widget widget-skill">
                	<h5 class="widgettitle">Skills</h5>
                    <div class="recent-skill-widget">
                    	<ul>
                        	<li>Mobile App</li>
                            <li>UI Design</li>
                            <li>Data Management</li>
                        </ul>
                    </div>
                </aside>
            	<aside class="widget widget-project">
                	<h5 class="widgettitle">Project Details</h5>
                    <div class="recent-project-widget">
                    	<ul>
                        	<li>Date - <span>13 - 9 - 20</span></li>
                            <li>Url - <span><a href="https://play.google.com/store/apps/details?id=id.khwarizmi.qbsdonation" class="overline" data-hover="Link">Link</a></span></li>
                        </ul>
                    </div>
                </aside>                
            </section> <!-- **Secondary Ends Here** -->
            
            <section id="primary" class="page-with-sidebar page-with-left-sidebar"> <!-- **Primary Starts Here** -->
                <article class="portfolio-entry"> <!-- **Portfolio-Entry Starts Here** -->
                	<div class="portfolio-thumb">
                    	<a href="#"><img src="{%static 'images/icon_dafq.png'%}" alt=""></a>
                    </div>
                    <div class="dt-sc-hr-invisible-very-small"></div>
                    <div class="portfolio-detail">
                    	<p>
                            An application for donating to be used in the field of tahfidzul Quran and information technology. Builded by flutter technology that will give a good performance & interactive UI for user.
                        </p>
                        <div class="dt-sc-hr-invisible-very-small"></div>
                        <p>
                            <i>
                                When the company's creative director approached me for this project, I knew it would be an awesome opportunity to create something unique. Here are more detail.
                            </i>
                        </p> 
                    	<div class="dt-sc-hr-invisible-very-small"></div>
                    </div>
                </article> <!-- **Portfolio-Entry Ends Here** -->
                <div class="post-nav-container"> <!-- **Post-Nav-container Starts Here** -->
                    <!-- <div class="post-prev-link">
                        <a class="overline overline-right dt-sc-button" data-hover="Previous" href="#">Previous</a>
                    </div> -->
                    <div class="post-next-link">
                        <a class="overline overline-left dt-sc-button" data-hover="Next" href="{%url 'portfolio' status=1%}">Next</a>
                    </div>                
                </div> <!-- **Post-Nav-container Ends Here** -->
            </section> <!-- **Primary Ends Here** -->     

        </div>
        
    </div> <!-- **Full-width-section Ends Here** --> 
   
</section> <!-- **Primary Ends Here** -->

{%endblock content%}
{%block script%}
<script src="{% static 'js/custom.js'%}" type="text/javascript"></script>
{%endblock script%}